@import "../variables.scss";
.select-wrapper {
  padding-top: 10px;
  padding-bottom: 22px;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.select-label {
  display: flex;
  column-gap: 6px;
  margin-bottom: 8px;
}

.select-error {
  color: red;
  padding: 5px;
  font-size: 12px;
  position: absolute;
  left: 1px;
  bottom: 0px;
}

.select {
  padding: 10px;
  border-radius: 10px;
}
